{% comment %} post(post, is_index, post_extra_class) {% endcomment %}

<article itemscope itemtype="http://schema.org/Article">
    <header class="post-header">

    {% comment %} % Not to show title for quote posts that do not have a title {% endcomment %}
    {% unless is_index and post.type == 'quote' and post.title == nil %}
        <{% if site.seo %}h2{% else %}h1{% endif %} class="post-title" itemprop="name headline">
        {% comment %} Link posts {% endcomment %}
        {% if post.link %}
            {% if post.sticky > 0 %}
            {{ post.sticky }}
            <span class="post-sticky-flag" title="{{ __.post.sticky }}">
                <i class="fa fa-thumb-tack"></i>
            </span>
            {% endif %}
            <a class="post-title-link post-title-link-external" target="_blank" href="{{ post.link }}" itemprop="url">
            {% if post.title %}{{ post.title }}{% else %}{{  post.link }}{% endif %}
            <i class="fa fa-external-link"></i>
            </a>
        {% else %}
        {% if is_index %}
            {% if post.sticky > 0 %}
                <span class="post-sticky-flag" title="{{ __.post.sticky }}">
                <i class="fa fa-thumb-tack"></i>
                </span>
            {% endif %}
            <a class="post-title-link" href="{{ post.url | relative_url }}" itemprop="url">
            {{ post.title | default: __.post.untitled }}
            </a>
        {% else %}{{ post.title }}{% endif %}
        {% endif %}
    </{% if site.seo %}h2{% else %}h1{% endif %}>
    {% endunless %}

    <div class="post-meta">
        <span class="post-time">
        {% if site.data.post.post_meta.created_at %}
            <span class="post-meta-item-icon">
            <i class="fa fa-calendar-o"></i>
            </span>
            {% if site.data.post.post_meta.item_text %}
            <span class="post-meta-item-text">{{ __.post.posted }}</span>
            {% endif %}
            <time title="{{ __.post.created }}" itemprop="dateCreated datePublished" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: site.date_format }}
            </time>
        {% endif %}

        {% if site.data.post.post_meta.created_at and site.data.post.post_meta.updated_at %}
            <span class="post-meta-divider">|</span>
        {% endif %}

        {% if site.data.post.post_meta.updated_at %}
            <span class="post-meta-item-icon"><i class="fa fa-calendar-check-o"></i></span>
            <span class="post-meta-item-text">{{ __.post.modified }}</span>
            <time title="{{ __.post.modified }}" itemprop="dateModified" datetime="{{ post.updated | date: site.date_format }}">
            {{ post.updated | date: site.date_format }}
            </time>
        {% endif %}
        </span>

        {% if post.categories and post.categories.size > 0 %}
        <span class="post-category" >
            <span class="post-meta-divider">|</span>
            <span class="post-meta-item-icon"><i class="fa fa-book"></i></span>
            {% for cat in post.categories %}
                {% assign cat_url_encode = cat | url_encode | replace: '+', '%20' %}
                <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                    <a href="{{ '/category/#/' | relative_url | append: cat_url_encode }}" itemprop="url" rel="index">
                    <span itemprop="name">{{ cat }}</span>
                    </a>
                </span>
                {% assign cat_length = post.categories.size %}
                {% if cat_length > 1 and forloop.index != cat_length %}
                    {{ __.symbol.comma }}
                {% endif %}
            {% endfor %}
        </span>
        {% endif %}

    </div>
    </header>
</article>
